  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Event Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_event' %}"><i class="fas fa-calendar-plus"></i> Create Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'upcoming_events' %}"><i class="fas fa-calendar"></i> Up-coming Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'participate_events' %}"><i class="fas fa-calendar-check"></i> My participate Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url 'registered_events' %}'><i class="fas fa-user-check"></i> Registered Event</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i> User
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>