{% extends 'partials/base.html' %}

{% block content %}
    <div class="container mt-5">
    <h2>Create Event</h2>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_title" class="form-label"><i class="fas fa-heading"></i> Title:</label>
        <input type="text" class="form-control" id="id_title" name="title">
      </div>
      <div class="mb-3">
        <label for="id_description" class="form-label"><i class="fas fa-file-alt"></i> Description:</label>
        <textarea class="form-control" id="id_description" name="description" rows="3"></textarea>
      </div>
      <div class="row g-3">
        <div class="col-md-6">
          <label for="id_date" class="form-label"><i class="far fa-calendar-alt"></i> Date:</label>
          <input type="date" class="form-control" id="id_date" name="date">
        </div>
        <div class="col-md-6">
          <label for="id_time" class="form-label"><i class="far fa-clock"></i> Time:</label>
          <input type="time" class="form-control" id="id_time" name="time">
        </div>
      </div>
      <div class="mb-3">
        <label for="id_location" class="form-label"><i class="fas fa-map-marker-alt"></i> Location:</label>
        <input type="text" class="form-control" id="id_location" name="location">
      </div>
      <div class="mb-3">
        <label for="id_slots_available" class="form-label"><i class="fas fa-user-plus"></i> Slots Available:</label>
        <input type="number" class="form-control" id="id_slots_available" name="slots_available" min="1">
      </div>
      <button type="submit" class="btn btn-primary"><i class="fas fa-calendar-plus"></i> Create Event</button>
    </form>
  </div>

{% endblock content %}