{% extends 'partials/base.html' %}

{% block content %}

    <div class="container mt-5">
        <h1>Registered events for {{ username }}</h1>


        <div class="row">
            {% for registration in registered_events %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ registration.event.title }}</h5>
                        <p class="card-text">
                            <i class="far fa-calendar-alt"></i> Date: {{ registration.event.date }}<br>
                            <i class="far fa-clock"></i> Time: {{ registration.event.time }}<br>
                            <i class="fas fa-map-marker-alt"></i> Location: {{ registration.event.location }}<br>
                            <i class="far fa-file-alt"></i> Description: {{ registration.event.description }}<br>
                            <i class="fa fa-check"></i> Slot available: {{ registration.event.slots_available }}<br>
                         <a href="" class="btn btn-primary">
                                <i class="fas fa-check-circle"></i> UnRegister
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12">
                <p>No register events at the moment.</p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
