
{% extends 'partials/base.html' %}

{% block content %}

    <div class="container mt-5">
        <h1>Upcoming Events</h1>
        <p>Current Date and Time: {{ current_datetime }}</p>

        <div class="row">
            {% for event in upcoming_events %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">
                            <i class="far fa-calendar-alt"></i> Date: {{ event.date }}<br>
                            <i class="far fa-clock"></i> Time: {{ event.time }}<br>
                            <i class="fas fa-map-marker-alt"></i> Location: {{ event.location }}<br>
                            <i class="far fa-file-alt"></i> Description: {{ event.description }}<br>
                            {% if event.slots_available > 0 %}
                            <i class="fa fa-check"></i> Slot available: {{ event.slots_available }}

                            {% endif %}

                        </p>
                        {% if event.slots_available > 0 %}
                            <a href="{% url 'register_event' event.id %}" class="btn btn-primary">
                                <i class="fas fa-check-circle"></i> Register
                            </a>

                            {% else %}
                            <p class="text-danger text-capitalize">No slots available</p>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-md-12">
                <p>No ongoing events at the moment.</p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
